body {
    width: 80%;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    text-align: justify;
}

h1 {
    background-color: yellow;
    clear: both;
}

.balra {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    margin-right: 5px;
    float: left;
}

.jobbra {
    background-color: brown;
    width: 75px;
    height: 300px;
    margin-left: 5px;
    float: right;
    color: white;
}

#also {
    background-color: lightcoral;
    overflow: auto;
}

/* #clearfix {
    clear: both;
} */

#also_alatti {
    background-color: lightgreen;
    padding: 5px;
    margin-top: 5px;
    height: 300px;
    /* visible, hidden, scroll, auto */
    /* overflow-y: scroll;
    overflow-x: hidden; */
    overflow: auto;
    /* normal, nowrap, pre, pre-wrap */
    white-space: pre-wrap;
}